In [8]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import re
from pd_repo.sql_repository import AbstractSqlRepository, Sqlite3Repository, PandasSqliteRepository

In [9]:
DATASET = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00383/risk_factors_cervical_cancer.csv'

# App example
## Helper functions

In [10]:
def extract(url: str) -> pd.DataFrame:
    """Get data from internet (url), return dataframe."""
    df = pd.read_csv(url)
    df = df[(df != '?').all(axis=1)]
    return df


def transform(df: pd.DataFrame) -> pd.DataFrame:
    """Transform data"""
    df = df.iloc[:, [0, 1, 2, 3]]
    columns = list(df.columns)
    for col in columns:
        df[col] = df[col].apply(lambda x: (float(x)))
    return df

def load(df, repo: AbstractSqlRepository, table: str):
    """Load data to a SQLite database."""
    repo.add(df, table)

    
def etl(url, repo: AbstractSqlRepository, table: str):
    """Extract, Transform, Load."""
    df = extract(url)
    df = transform(df)
    df = load(df, repo, table)

## Client code

In [12]:
repo = Sqlite3Repository("main_db.db")

etl(DATASET, repo, "anna_test")

repo.get("SELECT * FROM anna_test")

,Age,Number of sexual partners,First sexual intercourse,Num of pregnancies
0,41,3,17,4
1,40,1,18,1
2,35,3,17,4
3,35,3,20,2
4,35,3,17,6
...,...,...,...,...
467,25,6,17,2
468,20,1,18,1
469,36,3,20,2
470,33,4,17,0
471,40,3,23,2

# Old way 1

In [1]:
import sqlite3
con = sqlite3.connect("main_db.db")

In [2]:
cur = con.cursor()

In [3]:
res = cur.execute("SELECT * FROM anna_test")

In [4]:
res.fetchall()

[(41.0, 3.0, 17.0, 4.0),
 (40.0, 1.0, 18.0, 1.0),
 (35.0, 3.0, 17.0, 4.0),
 (35.0, 3.0, 20.0, 2.0),
 (35.0, 3.0, 17.0, 6.0),
 (36.0, 2.0, 15.0, 3.0),
 (30.0, 5.0, 16.0, 4.0),
 (30.0, 3.0, 19.0, 2.0),
 (30.0, 3.0, 14.0, 3.0),
 (29.0, 4.0, 10.0, 5.0),
 (30.0, 3.0, 19.0, 2.0),
 (26.0, 3.0, 17.0, 3.0),
 (29.0, 3.0, 15.0, 3.0),
 (28.0, 3.0, 16.0, 3.0),
 (27.0, 2.0, 13.0, 2.0),
 (28.0, 2.0, 19.0, 2.0),
 (28.0, 3.0, 15.0, 6.0),
 (24.0, 2.0, 18.0, 4.0),
 (25.0, 4.0, 15.0, 3.0),
 (24.0, 2.0, 15.0, 3.0),
 (23.0, 1.0, 17.0, 1.0),
 (20.0, 1.0, 19.0, 1.0),
 (19.0, 3.0, 13.0, 4.0),
 (21.0, 5.0, 14.0, 2.0),
 (41.0, 3.0, 19.0, 2.0),
 (18.0, 1.0, 16.0, 2.0),
 (20.0, 3.0, 14.0, 3.0),
 (20.0, 2.0, 18.0, 1.0),
 (19.0, 2.0, 16.0, 2.0),
 (17.0, 2.0, 15.0, 2.0),
 (17.0, 1.0, 16.0, 2.0),
 (20.0, 2.0, 18.0, 1.0),
 (18.0, 7.0, 16.0, 1.0),
 (17.0, 3.0, 16.0, 1.0),
 (15.0, 2.0, 13.0, 1.0),
 (34.0, 2.0, 21.0, 1.0),
 (36.0, 1.0, 22.0, 4.0),
 (31.0, 2.0, 20.0, 2.0),
 (18.0, 1.0, 16.0, 1.0),
 (40.0, 2.0, 21.0, 4.0),
 (36.0, 1.0, 28.0, 1.0),
 (17.0, 2.0, 15.0, 2.0),
 (19.0, 2.0, 15.0, 2.0),
 (23.0, 2.0, 15.0, 2.0),
 (24.0, 1.0, 23.0, 1.0),
 (27.0, 4.0, 16.0, 4.0),
 (42.0, 3.0, 18.0, 4.0),
 (49.0, 2.0, 15.0, 6.0),
 (33.0, 3.0, 16.0, 4.0),
 (28.0, 2.0, 19.0, 2.0),
 (19.0, 7.0, 14.0, 2.0),
 (29.0, 5.0, 17.0, 6.0),
 (29.0, 5.0, 20.0, 1.0),
 (17.0, 1.0, 15.0, 2.0),
 (25.0, 6.0, 17.0, 2.0),
 (20.0, 1.0, 18.0, 1.0),
 (36.0, 3.0, 20.0, 2.0),
 (33.0, 4.0, 17.0, 0.0),
 (40.0, 3.0, 23.0, 2.0),
 (41.0, 3.0, 17.0, 4.0),
 (40.0, 1.0, 18.0, 1.0),
 (35.0, 3.0, 17.0, 4.0),
 (35.0, 3.0, 20.0, 2.0),
 (35.0, 3.0, 17.0, 6.0),
 (36.0, 2.0, 15.0, 3.0),
 (30.0, 5.0, 16.0, 4.0),
 (30.0, 3.0, 19.0, 2.0),
 (30.0, 3.0, 14.0, 3.0),
 (29.0, 4.0, 10.0, 5.0),
 (30.0, 3.0, 19.0, 2.0),
 (26.0, 3.0, 17.0, 3.0),
 (29.0, 3.0, 15.0, 3.0),
 (28.0, 3.0, 16.0, 3.0),
 (27.0, 2.0, 13.0, 2.0),
 (28.0, 2.0, 19.0, 2.0),
 (28.0, 3.0, 15.0, 6.0),
 (24.0, 2.0, 18.0, 4.0),
 (25.0, 4.0, 15.0, 3.0),
 (24.0, 2.0, 15.0, 3.0),
 (23.0, 1.0, 17.0, 1.0),
 (20.0, 1.0, 19.0, 1.0),
 (19.0, 3.0, 13.0, 4.0),
 (21.0, 5.0, 14.0, 2.0),
 (41.0, 3.0, 19.0, 2.0),
 (18.0, 1.0, 16.0, 2.0),
 (20.0, 3.0, 14.0, 3.0),
 (20.0, 2.0, 18.0, 1.0),
 (19.0, 2.0, 16.0, 2.0),
 (17.0, 2.0, 15.0, 2.0),
 (17.0, 1.0, 16.0, 2.0),
 (20.0, 2.0, 18.0, 1.0),
 (18.0, 7.0, 16.0, 1.0),
 (17.0, 3.0, 16.0, 1.0),
 (15.0, 2.0, 13.0, 1.0),
 (34.0, 2.0, 21.0, 1.0),
 (36.0, 1.0, 22.0, 4.0),
 (31.0, 2.0, 20.0, 2.0),
 (18.0, 1.0, 16.0, 1.0),
 (40.0, 2.0, 21.0, 4.0),
 (36.0, 1.0, 28.0, 1.0),
 (17.0, 2.0, 15.0, 2.0),
 (19.0, 2.0, 15.0, 2.0),
 (23.0, 2.0, 15.0, 2.0),
 (24.0, 1.0, 23.0, 1.0),
 (27.0, 4.0, 16.0, 4.0),
 (42.0, 3.0, 18.0, 4.0),
 (49.0, 2.0, 15.0, 6.0),
 (33.0, 3.0, 16.0, 4.0),
 (28.0, 2.0, 19.0, 2.0),
 (19.0, 7.0, 14.0, 2.0),
 (29.0, 5.0, 17.0, 6.0),
 (29.0, 5.0, 20.0, 1.0),
 (17.0, 1.0, 15.0, 2.0),
 (25.0, 6.0, 17.0, 2.0),
 (20.0, 1.0, 18.0, 1.0),
 (36.0, 3.0, 20.0, 2.0),
 (33.0, 4.0, 17.0, 0.0),
 (40.0, 3.0, 23.0, 2.0),
 (41.0, 3.0, 17.0, 4.0),
 (40.0, 1.0, 18.0, 1.0),
 (35.0, 3.0, 17.0, 4.0),
 (35.0, 3.0, 20.0, 2.0),
 (35.0, 3.0, 17.0, 6.0),
 (36.0, 2.0, 15.0, 3.0),
 (30.0, 5.0, 16.0, 4.0),
 (30.0, 3.0, 19.0, 2.0),
 (30.0, 3.0, 14.0, 3.0),
 (29.0, 4.0, 10.0, 5.0),
 (30.0, 3.0, 19.0, 2.0),
 (26.0, 3.0, 17.0, 3.0),
 (29.0, 3.0, 15.0, 3.0),
 (28.0, 3.0, 16.0, 3.0),
 (27.0, 2.0, 13.0, 2.0),
 (28.0, 2.0, 19.0, 2.0),
 (28.0, 3.0, 15.0, 6.0),
 (24.0, 2.0, 18.0, 4.0),
 (25.0, 4.0, 15.0, 3.0),
 (24.0, 2.0, 15.0, 3.0),
 (23.0, 1.0, 17.0, 1.0),
 (20.0, 1.0, 19.0, 1.0),
 (19.0, 3.0, 13.0, 4.0),
 (21.0, 5.0, 14.0, 2.0),
 (41.0, 3.0, 19.0, 2.0),
 (18.0, 1.0, 16.0, 2.0),
 (20.0, 3.0, 14.0, 3.0),
 (20.0, 2.0, 18.0, 1.0),
 (19.0, 2.0, 16.0, 2.0),
 (17.0, 2.0, 15.0, 2.0),
 (17.0, 1.0, 16.0, 2.0),
 (20.0, 2.0, 18.0, 1.0),
 (18.0, 7.0, 16.0, 1.0),
 (17.0, 3.0, 16.0, 1.0),
 (15.0, 2.0, 13.0, 1.0),
 (34.0, 2.0, 21.0, 1.0),
 (36.0, 1.0, 22.0, 4.0),
 (31.0, 2.0, 20.0, 2.0),
 (18.0, 1.0, 16.0, 1.0),
 (40.0, 2.0, 21.0, 4.0),
 (36.0, 1.0, 28.0, 1.0),
 (17.0, 2.0, 15.0, 2.0),
 (19.0, 2.0, 15.0, 2.0),
 (23.0, 2.0, 15.0, 2.0),
 (24.0, 1.0, 23.0, 1.0),
 (27.0, 4.0, 16.0, 4.0),
 (42.0, 3.0, 18.0, 4.0),
 (49.0, 2.0, 15.0, 6.0),
 (33.0, 3.0, 16.0, 4.0),
 (28.0, 2.0, 19.0, 2.0),
 (19.0, 7.0, 14.0, 2.0),
 (29.0, 5.0, 17.0, 6.0),
 (29.0, 5.0, 20.0, 1.0),
 (17.0, 1.0, 15.0, 2.0),
 (25.0, 6.0, 17.0, 2.0),
 (20.0, 1.0, 18.0, 1.0),
 (36.0, 3.0, 20.0, 2.0),
 (33.0, 4.0, 17.0, 0.0),
 (40.0, 3.0, 23.0, 2.0),
 (41.0, 3.0, 17.0, 4.0),
 (40.0, 1.0, 18.0, 1.0),
 (35.0, 3.0, 17.0, 4.0),
 (35.0, 3.0, 20.0, 2.0),
 (35.0, 3.0, 17.0, 6.0),
 (36.0, 2.0, 15.0, 3.0),
 (30.0, 5.0, 16.0, 4.0),
 (30.0, 3.0, 19.0, 2.0),
 (30.0, 3.0, 14.0, 3.0),
 (29.0, 4.0, 10.0, 5.0),
 (30.0, 3.0, 19.0, 2.0),
 (26.0, 3.0, 17.0, 3.0),
 (29.0, 3.0, 15.0, 3.0),
 (28.0, 3.0, 16.0, 3.0),
 (27.0, 2.0, 13.0, 2.0),
 (28.0, 2.0, 19.0, 2.0),
 (28.0, 3.0, 15.0, 6.0),
 (24.0, 2.0, 18.0, 4.0),
 (25.0, 4.0, 15.0, 3.0),
 (24.0, 2.0, 15.0, 3.0),
 (23.0, 1.0, 17.0, 1.0),
 (20.0, 1.0, 19.0, 1.0),
 (19.0, 3.0, 13.0, 4.0),
 (21.0, 5.0, 14.0, 2.0),
 (41.0, 3.0, 19.0, 2.0),
 (18.0, 1.0, 16.0, 2.0),
 (20.0, 3.0, 14.0, 3.0),
 (20.0, 2.0, 18.0, 1.0),
 (19.0, 2.0, 16.0, 2.0),
 (17.0, 2.0, 15.0, 2.0),
 (17.0, 1.0, 16.0, 2.0),
 (20.0, 2.0, 18.0, 1.0),
 (18.0, 7.0, 16.0, 1.0),
 (17.0, 3.0, 16.0, 1.0),
 (15.0, 2.0, 13.0, 1.0),
 (34.0, 2.0, 21.0, 1.0),
 (36.0, 1.0, 22.0, 4.0),
 (31.0, 2.0, 20.0, 2.0),
 (18.0, 1.0, 16.0, 1.0),
 (40.0, 2.0, 21.0, 4.0),
 (36.0, 1.0, 28.0, 1.0),
 (17.0, 2.0, 15.0, 2.0),
 (19.0, 2.0, 15.0, 2.0),
 (23.0, 2.0, 15.0, 2.0),
 (24.0, 1.0, 23.0, 1.0),
 (27.0, 4.0, 16.0, 4.0),
 (42.0, 3.0, 18.0, 4.0),
 (49.0, 2.0, 15.0, 6.0),
 (33.0, 3.0, 16.0, 4.0),
 (28.0, 2.0, 19.0, 2.0),
 (19.0, 7.0, 14.0, 2.0),
 (29.0, 5.0, 17.0, 6.0),
 (29.0, 5.0, 20.0, 1.0),
 (17.0, 1.0, 15.0, 2.0),
 (25.0, 6.0, 17.0, 2.0),
 (20.0, 1.0, 18.0, 1.0),
 (36.0, 3.0, 20.0, 2.0),
 (33.0, 4.0, 17.0, 0.0),
 (40.0, 3.0, 23.0, 2.0),
 (41.0, 3.0, 17.0, 4.0),
 (40.0, 1.0, 18.0, 1.0),
 (35.0, 3.0, 17.0, 4.0),
 (35.0, 3.0, 20.0, 2.0),
 (35.0, 3.0, 17.0, 6.0),
 (36.0, 2.0, 15.0, 3.0),
 (30.0, 5.0, 16.0, 4.0),
 (30.0, 3.0, 19.0, 2.0),
 (30.0, 3.0, 14.0, 3.0),
 (29.0, 4.0, 10.0, 5.0),
 (30.0, 3.0, 19.0, 2.0),
 (26.0, 3.0, 17.0, 3.0),
 (29.0, 3.0, 15.0, 3.0),
 (28.0, 3.0, 16.0, 3.0),
 (27.0, 2.0, 13.0, 2.0),
 (28.0, 2.0, 19.0, 2.0),
 (28.0, 3.0, 15.0, 6.0),
 (24.0, 2.0, 18.0, 4.0),
 (25.0, 4.0, 15.0, 3.0),
 (24.0, 2.0, 15.0, 3.0),
 (23.0, 1.0, 17.0, 1.0),
 (20.0, 1.0, 19.0, 1.0),
 (19.0, 3.0, 13.0, 4.0),
 (21.0, 5.0, 14.0, 2.0),
 (41.0, 3.0, 19.0, 2.0),
 (18.0, 1.0, 16.0, 2.0),
 (20.0, 3.0, 14.0, 3.0),
 (20.0, 2.0, 18.0, 1.0),
 (19.0, 2.0, 16.0, 2.0),
 (17.0, 2.0, 15.0, 2.0),
 (17.0, 1.0, 16.0, 2.0),
 (20.0, 2.0, 18.0, 1.0),
 (18.0, 7.0, 16.0, 1.0),
 (17.0, 3.0, 16.0, 1.0),
 (15.0, 2.0, 13.0, 1.0),
 (34.0, 2.0, 21.0, 1.0),
 (36.0, 1.0, 22.0, 4.0),
 (31.0, 2.0, 20.0, 2.0),
 (18.0, 1.0, 16.0, 1.0),
 (40.0, 2.0, 21.0, 4.0),
 (36.0, 1.0, 28.0, 1.0),
 (17.0, 2.0, 15.0, 2.0),
 (19.0, 2.0, 15.0, 2.0),
 (23.0, 2.0, 15.0, 2.0),
 (24.0, 1.0, 23.0, 1.0),
 (27.0, 4.0, 16.0, 4.0),
 (42.0, 3.0, 18.0, 4.0),
 (49.0, 2.0, 15.0, 6.0),
 (33.0, 3.0, 16.0, 4.0),
 (28.0, 2.0, 19.0, 2.0),
 (19.0, 7.0, 14.0, 2.0),
 (29.0, 5.0, 17.0, 6.0),
 (29.0, 5.0, 20.0, 1.0),
 (17.0, 1.0, 15.0, 2.0),
 (25.0, 6.0, 17.0, 2.0),
 (20.0, 1.0, 18.0, 1.0),
 (36.0, 3.0, 20.0, 2.0),
 (33.0, 4.0, 17.0, 0.0),
 (40.0, 3.0, 23.0, 2.0)]

# Old way 2

In [7]:
pd.read_sql("SELECT * FROM anna_test", con)

,Age,Number of sexual partners,First sexual intercourse,Num of pregnancies
0,41.0,3.0,17.0,4.0
1,40.0,1.0,18.0,1.0
2,35.0,3.0,17.0,4.0
3,35.0,3.0,20.0,2.0
4,35.0,3.0,17.0,6.0
...,...,...,...,...
290,25.0,6.0,17.0,2.0
291,20.0,1.0,18.0,1.0
292,36.0,3.0,20.0,2.0
293,33.0,4.0,17.0,0.0
294,40.0,3.0,23.0,2.0

In [6]:
import pandas as pd